# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov
.qodana-results/
.qodana-cache/
.qodana-report/
.qodana-reports/
.qodana/

# logs
logs
log/
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# project structure dump
projectStructure/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Thème
.theme

#BMA
#.agent
#_bmad
#_bmad-output


.nx/cache
.nx/workspace-data
# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
vite.config.*.timestamp*
vitest.config.*.timestamp*