---
import '@metacult/shared-ui/styles/global.css';
import ThemeHeadScript from '../components/shared/ThemeHeadScript.astro';

// ✅ Self-hosted fonts
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Design System Metacult" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ThemeHeadScript />
    </head>
    <body class="bg-background text-foreground font-sans min-h-screen p-10">
        <slot />
    </body>
</html>
